[defaults]
timeout = 120
host_key_checking = False
remote_tmp     = /var/tmp
local_tmp      = /var/tmp
become_method = sudo
executable = /bin/bash
pipelining = True
allow_world_readable_tmpfiles = True
gathering = explicit
forks = 200
retry_files_enabled = False
display_skipped_hosts = True
#ask_vault_pass = True
stdout_callback = yaml
interpreter_python = /usr/bin/python3


[inventory]
enable_plugins = host_list, script, auto, yaml, ini, foreman

[cache]
plugin = memory

[ssh_connection]
scp_if_ssh = True
ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s -o ForwardAgent=no -o StrictHostKeyChecking=no -o IdentitiesOnly=yes -o PKCS11Provider=none
